#ifndef IDD_CONSOLE
#define IDD_CONSOLE                     990
#endif

#ifndef IDC_CONSOLE1
#define IDC_CONSOLE1                    30990
#endif

#ifndef IDC_CONSOLE2
#define IDC_CONSOLE2                    30991
#endif

IDD_CONSOLE DIALOGEX 0, 0, 222, 228
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Console"
FONT 8, "Bitstream Vera Sans Mono", 400, 0, 0x0
BEGIN
    EDITTEXT        IDC_CONSOLE2,7,195,208,13,ES_MULTILINE | ES_AUTOHSCROLL
    EDITTEXT        IDC_CONSOLE1,7,7,208,188,ES_MULTILINE | ES_READONLY | WS_VSCROLL
    PUSHBUTTON      "Process command",IDOK,7,208,208,13
END

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN

    IDD_CONSOLE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 215
        TOPMARGIN, 7
        BOTTOMMARGIN, 221
        HORZGUIDE, 195
    END

END
#endif    // APSTUDIO_INVOKED
